# MongoDB Config
MONGO_USER=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_DB_NAME=your_database_name
MONGO_CLUSTER=your_mongo_cluster_url

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

